VITE_APP_NAME="Plena Gastro Manager"
VITE_LICENSE_STATUS_URL=""
VITE_DEFAULT_EMPRESA_ID="demo-empresa"
VITE_PLENA_EMPRESA_ID="demo-empresa"
VITE_IFOOD_CLIENT_ID=
VITE_IFOOD_CLIENT_SECRET=
VITE_IFOOD_MERCHANT_ID=3860495
VITE_IFOOD_MERCHANT_UUID=e00e450a-3b69-4db5-892b-d598fbf60fcf
VITE_IFOOD_ENV=sandbox

